<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>CRUD Videojuegos | API</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="container py-5">
            <div class="dashboard-wrapper">
                <ul class="nav nav-tabs mb-4">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#registrar">
                            Registrar Videojuegos
                        </button>
										</li>
										<li class="nav-item">
												<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#mostrar">
														Mostrar Videojuegos
											</button>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <form method="post" class="col-md-6">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Titulo de Videojuego</label>
												<input type="text" name="titulo" id="titulo" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="desarrolladores" class="form-label">Desarrolladores</label>
												<select class="form-select" title="Choose an option">
													<option>Apple</option>
											</select>
                    </div>
                    <div class="mb-3">
                        <label for="fechaLanzamiento" class="form-label">Fecha Lanzamiento</label>
												<input type="date" name="fechaLanzamiento" id="fechaLanzamiento" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion de Videojugo</label>
												<textarea name="descripcion" id="descripcion" class="form-control">
												</textarea>
                    </div>
										<div class="mb-3">
											<label for="esbrId" class="form-label">Esbr de Videojuego</label>
											<select class="form-select" title="Choose an option">
												<option>Apple</option>
											</select>
										</div>
										<div class="mb-3">
											<label for="precio" class="form-label">Precio de Videojuego</label>
											<input type="number" name="precio" id="precio" class="form-control">
										</div>
										<div class="mb-3">
											<label for="requisitos" class="form-label">Requisitos de Videojuego</label>
											<textarea type="number" name="requisitos" id="requisitos" class="form-control">
											</textarea>
										</div>
										<div class="mb-3">
											<label class="form-label">Estado de Videojuego</label>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="activo" id="flexRadioDefault1">
												<label class="form-check-label" for="flexRadioDefault1">
													Desactivar
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="activo" id="flexRadioDefault2" checked>
												<label class="form-check-label" for="flexRadioDefault2">
													Activar
												</label>
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label" for="">Categorias de Videojuego:</label>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
												<label class="form-check-label" for="inlineCheckbox1">Accion</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
												<label class="form-check-label" for="inlineCheckbox2">RPG</label>
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label" for="">Plataformas de Videojuego:</label>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
												<label class="form-check-label" for="inlineCheckbox1">PC</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
												<label class="form-check-label" for="inlineCheckbox2">PS5</label>
											</div>
										</div>
										<div class="mb-3">
											<label for="imagen" class="form-label">Imagen de Videojuego</label>
											<input id="imagen" type="file" class="form-control">
										</div>
										<div class="mb-3">
											<label for="trailer" class="form-label">Trailer de Videojuego</label>
											<input id="trailer" type="text" class="form-control">
										</div>
                </form>
            </div>
        </div>  
    </main>
    <footer>

    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>